/* #canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */
/* canvas {
    display: block;
} */




* {
    margin: 0;
    padding: 0;
}

/* to remove the top and left whitespace */

html,
body {
    width: 100%;
    height: 100%;
}

/* just to be sure these are full screen*/

canvas {
    display: block;
}

/* To remove the scrollbars */

#debugButton {
    position:fixed;
    right:0;
    top:0;
    width: 100px;
    height: 50px;
    border: 1px solid pink;
    background: transparent;
    color:white;
}

#debugMenu {
    display: none;
    position:fixed;
    right:0;
    bottom:0;
    height: 200px;
    width: 100px;
    border: 1px solid pink;
    color:white;
    text-align:center;
}

#debugMenu li {
    list-style-type: none;
    padding: 2px 0;
    border: 0.5px dashed pink;
    cursor:default;
}

#debugMenu li:hover {
    color:yellow;
}






/* +++++++++++++++++++++++++++
OLD BROKEN CSS
++++++++++++++++++++++++++++*/


@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars,
.twinkling,
.clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.clouds {
    background: transparent url(http://sylvaingarnot.fr/media/clouds.png) repeat top center;
    z-index: 3;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}